@font-face {
    font-family: philosopher;
    src: url(./resources/Philosopher-Regular.ttf)
}
body {
    display: flex;
    font-family: philosopher;
} 

.images, .car {
    height: 100vh;
    width: auto;
}
.credit {
    position: relative;
    text-align: center;
    top: -50px;
    color: #ffffff;
}
a {
    color: #ffffff;
}

.logo-bg-img {
    height: 200px;
    width: auto;
    position: relative;
    top: -750px;
    background-color: #292929bd;
}
.logo {     
    height: 125px;
    width: auto;
    position: relative;
    left: 200px;
    top: 40px;
}

.info {
    align-self: center;
    margin-left: 75px;
    width: 1125px;
}
.info > div, .info > form {
    margin-bottom: 50px;
}

.header, legend {
    font-size: 30px;
    font-weight: bold;
    color: #313131;
}
form > * {
    display: flex;
    margin-bottom: 30px;
    gap: 100px;
}
form > div > div {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    color: #474747;
}