@font-face {
    font-family: philosopher;
    src: url(./resources/Philosopher-Regular.ttf)
}

body {
    display: flex;
    font-family: philosopher;
}

.images, .car {
    height: 100vh;
    width: auto;
}
.logo {     
    height: 100px;
    width: auto;
}
